* {
  margin: 0;
  padding: 0;
}

/* Login */
h1 {
  text-align: center;
}

.box-container {
  align-items: center;
  background-color: rgb(224, 224, 224);
  display: flex;
  height: 625px;
  justify-content: center;
}

.is-mod-to-login {
  background-image: linear-gradient(to bottom right, black, rgb(0, 255, 157), black);
  color: black;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 300px;
  justify-content: center;
  width: 200px;
}

/* Header */
.header {
  background-image: linear-gradient(to bottom right, black, rgb(0, 255, 157), black);
  display: flex;
  font-size: 25px;
  height: 100px;
  justify-content: space-between;
}

.header .header-content {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.header .header-content .header-text-content {
  display: flex;
  gap: 10px;
}

.header .header-img {
  content: url('../imgs/pngwing.com.png');
  height: 100px;
  margin-left: 30px;
  width: 100px;
}

/* Forms */
.box-container-2 {
  align-items: center;
  background-color: rgb(224, 224, 224);
  display: flex;
  height: 520px;
  justify-content: center;
}

.is-mod-to-forms {
  align-items: center;
  background-color: black;
  display: flex;
  font-size: 20px;
  height: 80px;
  justify-content: space-between;
}

.is-mod-to-forms input, .is-mod-to-forms select {
  height: 40px;
}

.is-mod-to-forms-edit {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  width: 1000px;
}

.is-mod-to-forms-edit  input {
  height: 40px;
}

/* Table */
.table {
  background-color: rgb(224, 224, 224);
}

.table .thead {
  background-color: rgb(190, 190, 190);
}

.table button {
  background-color: black;
  color: rgb(224, 224, 224);
  width: 50px;
}
