fieldset{
  border: 2px solid ;
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  width: 250px;
  height: 150px;
  margin:auto;
}

input {
  width: 250px;
}