fieldset {
  border: 2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  height: 150px;
  width: 250px;
  margin: auto;
}

input {
  width: 250px;
}
